body {
    background-color: black;
}

.grid {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 30px);
    grid-template-rows: repeat(4, 30px);
    margin-top: 2em;
}

.display {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20em;
}

.buttons {
    
}
